Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
gunicorn==23.0.0
SQLAlchemy==2.0.36
pymysql==1.1.1
requests==2.32.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pywin32==308; platform_system == "Windows"
